.excel-filter {
  padding: 8px;
  width: 220px;
}

// .checkbox-list {
//   max-height: 150px;
//   overflow-y: auto;
//   font-size: 13px;
// }

.form-check-input {
  margin-top: 0 !important;
  vertical-align: middle !important;
}

.checkbox-list {
  max-height: 150px;
  overflow-y: auto;
  font-size: 13px;
  overflow-x: auto;
  white-space: nowrap;
}

